body {
  margin: 0;
  background: teal;
  font-weight: 400;
  color: white; 
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
}

.nav-container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

/* .logo {
  float: left;
  padding: 10px 0;
  height: 40px;
  width: 40px;
} */

nav {
  text-align: center;
}

nav ul {
  margin: 0; 
  padding: 0;
  list-style: none;
}
 
nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px; 
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px; 
  background-color: #444;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
main {
  flex: 1 0 auto;
}


footer.page-footer {
  padding-top: 0;
}

.detail-photo {
  max-width: 600px;
  max-height: 600px;
}

#profile-photo-set{
  display: inline-block;
  height: 290px;
  width: 290px;
  margin: 10px;
}

.gallery-photos {
  width: 300px;
  height: 300px;
  margin: 15px;
}
.photo-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-content: flex-start;
  width: 100%;
}