 * {
  list-style: none;
  text-decoration: none;
} 

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  font-family: 'Yrsa', serif;
}

.nav-container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

#logo {
  font-family: 'Cabin Sketch', cursive;
  float: left;
  padding: 10px 0;
  margin: 5px; 
  color: yellow;
  font-size: 20px;
}

nav {
  display: flex;
}

nav ul {
  float: right;
  display: flex; 
  flex-wrap: wrap;
  margin: 0; 
  padding: 0;
}
 
nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px; 
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px; 
  background-color: #444;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

footer {
  background: #55d6aa;
  color: yellow; 
  height: 30px;
  font-size: 30px;
  text-align: center;
  font-family: 'Cabin Sketch', cursive;

} 
main {
  flex: 1 0 auto;
}


#profile-photo-set{
  display: inline-block;
  height: 290px;
  width: 290px;
  margin: 10px;
}

.gallery-photos {
  width: 300px;
  height: 300px;
  margin: 15px;
}
.photo-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-content: flex-start;
  width: 100%;
}

#discover-header {
  background-image: url("https://i.imgur.com/uclrpbx.png");
  height: 250px;
  color: black;
}

#about {
  text-transform: none;
  height: 700px;
  width: 800px;
  display: inline-block;
}

.about-photo {
  height: 400px;
  width: 400px;
  margin: 10px;
}
#about-photo-container{
  display: flex;
}


#gift-form {
  height: 300px;
  width: 700px;
  display: inline-block;
  color: black;
  text-align: center;
  display: inline-block;
}

.search{
  display: block;
  color: white;
  text-transform: lowercase;
  font-size: 40px;
  margin: 15px;
}

.search-container {
  display: flex;
  justify-content: center;
}

.embarrassed-kids {
  height: 300px;
  width: 300px;
}

#search-names {
  display: flex;
  flex-direction: column;
}

#not_authorized {
  background-color: red;
}

.redrum {
  height: 333px;
  width: 333px;
}


#detail {
  display: flex;
  flex-direction: column;
}

#card-detail {
  display: flex;
  margin-top: 20px;
}

#detail-photo img{
  display: flex;
  height: 500px;
  width: 600px;
}

#card-description { 
  font-size: 20px;
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; 
}


#card-comment {
  display: flex;
  flex-direction: column;
  margin: 20px;
} 

.detail-button {
  height: 50px;
  width: 60px;
  margin: 10px;
  text-align: center;
  
}

.username {
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: red;
  }
  #discover-link, #about-link{
    display: none;
  }
  
}
