* {
  list-style: none;
}

body {
  margin: 0;
  background: black;
  font-weight: 400;
  color: white; 
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  /* text-transform: uppercase; */
}

.nav-container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

#logo {
  font-family: 'Cabin Sketch', cursive;
  float: left;
  padding: 10px 0;
  margin: 5px; 
  color: yellow;
  font-size: 20px;
}

nav {
  display: flex;
  /* text-align: center; */
}

nav ul {
  float: right;
  display: flex; 
  flex-wrap: wrap;
  margin: 0; 
  padding: 0;
  list-style: none;
}
 
nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px; 
  position: relative;
  font-family: 'Yrsa', serif;

}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px; 
  background-color: #444;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
main {
  flex: 1 0 auto;
}

.detail-photo {
  max-width: 500px;
  max-height: 400px;
}

#profile-photo-set{
  display: inline-block;
  height: 290px;
  width: 290px;
  margin: 10px;
}

.gallery-photos {
  width: 300px;
  height: 300px;
  margin: 15px;
}
.photo-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-content: flex-start;
  width: 100%;
}

#discover-header {
  background-image: url("https://i.imgur.com/uclrpbx.png");
  height: 250px;
  color: black;
}

#about {
  height: 500px;
  width: 600px;
  display: inline-block;
  text-align: center;
  text-transform: none;
}

footer {
  background: #55d6aa;
  color: yellow; 
  height: 30px;
}

#gift-form {
  background-color: yellow;
  height: 300px;
  width: 700px;
  display: inline-block;
  color: black;
  text-align: center;
  display: inline-block;
}


.card {
  display: flex;
}

#card-content {
  display: flex;
  flex-direction: column;
}

.search{
  display: block;
}


@media only screen and (max-width: 600px) {
  body {
    background-color: red;
  }
  #discover-link, #about-link{
    display: none;
  }
  
}