{% extends 'base.html' %}
{% block content %}
<div id=detail>

    <div id="card-detail">
        <div id="detail-photo">
            <img src="{{gift.photo_url}}">
        </div>
        <div id="card-description">
            <a href="{% url 'profile' gift.user.id %}" class="username">@{{ gift.user.username }}</a>
            <p>{{ gift.description }}</p>

            {% ifequal gift.user user %}
            <p>
                <a href="{% url 'gifts_update' gift.id %}" class="detail-button">Edit</a>
                <a href="{% url 'gifts_delete' gift.id %}" class="detail-button">Delete</a></p>
            {% endifequal %}
            <div id="card-comment-form">
                <form action="{% url 'add_comment' gift.id %}" method="POST">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <input type="submit" class="btn" value="Comment">
                </form>
            </div>
        </div>
    </div>



    <div id="card-comment">
        {% for comment in gift.comment_set.all %}
        <p><a href="{% url 'profile' comment.user.id %}">@{{comment.user.username}}:</a>
            {{comment.text}} {{comment.created_at}}</p>
        {% ifequal comment.user user %}
        <p><a href="{% url 'update_comment' comment.id %}">Edit</a>
            <a href="{% url 'delete_comment' comment.id %}">Delete</a></p>
        {% endifequal %}
        {% endfor %}
    </div>

</div>
{% endblock %}