{% extends 'base.html' %}
{% block content %}
<h1>Sad Parent Gift's History</h1>
<div id="about">
    <h4>Elizabeth Messick comes from Los Angeles, CA and she deicded to go to coding school to build a website
        dedicated to
        the embarassing gifts your parents give you</h4>
    <div id="about-photo-container">
        <img src="https://i.imgur.com/48Wr3cs.png" class="about-photo">
        <img src="https://i.imgur.com/1uMmYeB.png" class="about-photo">
    </div>
</div>


{% endblock %}