{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sad Parent Gifts</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="shortcut icon" type="image/png" href="https://cdn4.iconfinder.com/data/icons/fugue/icon_shadowless/present.png" />
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Yrsa" rel="stylesheet">

</head>

<body>
    <header>
        <!-- <div class="nav-container"> -->

        <nav>
            <p id="logo">Sad Parent Gifts</p>

            <form class="search-bar" action="/search">
                <input type="text" placeholder="Search for usernames" name="search">
                <button type="submit">Search!</button>
            </form>
            <ul class="right">
                <li id="about-link"><a href="{% url 'about' %}">About</a></li>
                <li id="discover-link"><a href="/">Discover Gifts</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'gifts_create' %}">Add a Sad Gift</a></li>
                <li><a href="{% url 'profile' user.id %}">Hello, {{ user.username }}!</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
            <!-- </div> -->
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer">
        <div class="right">© 2018 Sad Parent Gifts &nbsp;</div>
    </footer>
</body>

</html>