{% extends 'base.html' %}
{% block content %}
<div id="not_authorized">
    <h2>YOU'RE NOT AUTHORIZED TO DO THIS AND NOW I'M GONNA GET YOU!</h2>
    <h1>HEEEEERE'S LIZZY!</h1>

    <img src="https://res.cloudinary.com/teepublic/image/private/s--NY9cesf3--/t_Preview/b_rgb:191919,c_limit,f_jpg,h_630,q_90,w_630/v1476285421/production/designs/729101_1.jpg"
        class="redrum">
    <img src="https://i.imgur.com/ZpfwYXj.png" alt="Here's Lizzy!">
    <img src="https://res.cloudinary.com/teepublic/image/private/s--NY9cesf3--/t_Preview/b_rgb:191919,c_limit,f_jpg,h_630,q_90,w_630/v1476285421/production/designs/729101_1.jpg"
        class="redrum">
</div>


{% endblock %}