{% extends 'base.html' %}
{% block content %}
<div id="search-header">
    <h1>Other Embarassed Children:</h1>
</div>
<div class="search-container">
    <img src="https://i.imgur.com/bKQ2NGK.png" class="embarrassed-kids">

    <div id="search-names">
        {% for result in search %}
        <a class="search" href="{% url 'profile' result.id %}">@{{result.username}}</a>
        {% empty %}
        <h3>There is nobody by that name! They died of sadness from their parents not loving them!</h3>
        {% endfor %}

    </div>
    <img src="https://i.imgur.com/tlpgeGp.png" class="embarrassed-kids">

</div>

{% endblock %}